<div class="container background-image">
  <div class="row my-4">
    <div class="col-5 mx-auto">
      <h1>Mintea tu NFT</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="p-4">
        <p>
          ¡Bienvenido a la sección de "Mintea tu NFT"! Aquí te guiaremos a
          través del proceso paso a paso para que puedas mintear tu propio NFT
          en nuestra plataforma. Recuerda que estamos utilizando una red de
          prueba, por lo que necesitarás obtener algo de Matic (la criptomoneda
          utilizada en esta red) antes de comenzar.
        </p>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title my-4">Paso 1: Instalar Metamask</h5>
          <p class="card-text">
            Metamask es una billetera de criptomonedas la cual nos permite
            interactuar con las aplicaciones blockchain por lo cual debes
            instalar y crearte una cuenta
          </p>
          <a href="https://metamask.io/" class="card-link"
            >Link al sitio de Metamask</a
          >
          <a
            href="https://www.nftesp.com/post/metamask-que-es-y-como-crear-cuenta"
            class="card-link"
            >¿Como crear una cuenta de metamask?</a
          >
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="assets/img/metamaskWallet.png" alt="Metamask" />
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-6">
      <div class="card">
        <img src="assets/img/mumbaiLogo.png" alt="Metamask" />
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title my-4">Paso 2: Agregar la tesnet(Mumbai)</h5>
          <p class="card-text">
            Mumbai es la red de pruebas de la blockchain de Polygon, la cual nos permite desplegar nuestros contratos y interactuar con ellos.
          </p>
          <a href="https://www.buybitcoinbank.com/es/criptomoneda/add-polygon-mumbai-to-metamask" class="card-link"
            >¿Como agregar la red Mumbai a Metamask?</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title my-4">Paso 3: Añadir Fondos a nuestra Wallet</h5>
          <p class="card-text">
            Para interactuar y hacer transacciones en la blockchain se requiere de fondos, en este caso se usa la cryptoneda Matic, pero por suerte para nosotos debido a que es una red de pruebas solo basta con ir a un faucet y poner nuestra direccion de wallet para que nos den Matic gratis.
          </p>
          <a href="https://mumbaifaucet.com/" class="card-link"
            >Faucet de Matic</a
          >

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="assets/img/mumbaiFaucet.png" alt="Metamask" />
      </div>
    </div>
  </div>

   <div class="row my-4">
    <div class="col-6">
      <div class="card">
        <img src="assets/img/mintNFT.png" alt="Metamask" />
      </div>
    </div>
    <div class="col-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title my-4">Paso 4: Mintea un NFT :D</h5>
          <p class="card-text">
            !Felicidades, ya estas en el ultimo paso, para mintear tu NFT, solo debes conectar tu wallet a nuestra Dapp con el boton de "Conectar", se te abrira Metamask y debes aceptar, y finalmente debes darle al boton de abajo "Mint NFT" :D, nuevamente se abre Metamask y debes aceptar la transaccion. <br> <br>
            Ya podras visualizar tu NFT,<br><br> ¿En Donde lo puedes ver?.... :O <br><br>
            Te doy una pista .... ve al menu. ;P
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-10">
      <button class="ov-btn-slide-bottom" (click)="mintNft()">
        MINTEAR NFT
      </button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
