<div class="col-10">
  <h3>Volumen y precio</h3>
  <p>
    Una gráfica de volumen y precio en la venta de NFTs muestra la actividad del
    mercado, representando el volumen de transacciones y los precios de los NFTs
    a lo largo del tiempo. Proporciona información sobre la cantidad de
    transacciones realizadas y cómo los precios fluctúan en el mercado de NFTs.
    Esta gráfica permite analizar tendencias, patrones y tomar decisiones
    informadas sobre compra, venta e inversión en NFTs.
  </p>
  <p-chart type="line" [data]="data" [options]="options"></p-chart>
</div>
