<div class="container">
  <h1 class="fs-1">
    Qhe onda perro
  </h1>
  <div class="row">
    <div class="col-6">
      No me diga sapo
    </div>
    <div class="col-6">
      Sapo
    </div>
    <button class="btn btn-primary">
      Sera?
    </button>
  </div>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>
<div>
  <p>Botton prime ng</p>
  <div class="card flex justify-content-center">
    <p-button label="Check" icon="pi pi-check"></p-button>
  </div>
</div>

<div class="container">
    <app-chart-example></app-chart-example>
</div>