<header class="header">
	<div class="container-fluid">
		<div class="row justify-content-end">
		  <div class="col-auto mt-3">
			<button (click)="cambiarValor()" class='btn glowing-btn btn-lg' id="connectButton">Conectar</button>
		  </div>
		</div>
	  </div>

	<div class="text-box">
		<h1 class="heading-primary">
			<span class="heading-primary-main">Mercado de NFTs </span>
			<span class="heading-primary-sub">The secondary heading</span>
		</h1>
		<a href="#introduction" class="btn btn-white btn-animated" id="scroll-link">Descubre el Proceso</a>
	</div>
</header>

<section class="introduction" id="introduction">
	<div class="container">
	  <h1 class="section-title">Bienvenido a nuestra DAPP</h1>
	  <p class="section-description">asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod odasdoio adoioasd asodidoi aosdoiad   adoioaddaodo dasod
		asdasd dasidi  dasodoidaiod Aquí puedes disfrutar de las siguientes funcionalidades:</p>

    <img class="myimg" src="https://i.seadn.io/gcs/files/ef046b96349c9bfef71f24aa0748aca8.jpg?auto=format&dpr=1&w=1000" alt="" >
	  <img class="myimg" src="https://i.seadn.io/gcs/files/b99ae0057ff1b8d3715866a97cbf4669.png?auto=format&dpr=1&w=1000" alt="">
	  <img class="myimg" src="https://i.seadn.io/gcs/files/776f145d87f4518a11861d5bb1e41733.png?auto=format&dpr=1&w=1000" alt="">
	  <img class="myimg" src="https://i.seadn.io/gcs/files/213cbdbd1fe7410df46f2d2753a65afc.png?auto=format&dpr=1&w=1000" alt="">
	  <img class="myimg" src="https://i.seadn.io/gcs/files/41cf7e8e84cb9c9b065852ee06acd964.png?auto=format&dpr=1&w=1000" alt="">
	  <img class="myimg" src="https://i.seadn.io/gcs/files/ca32475f8335f1aed1cb2204b90bd703.png?auto=format&dpr=1&w=1000" alt="">
	  <img class="myimg" src="https://i.seadn.io/gcs/files/fc61d30a777a5fdffb9c4e96bfbb44fe.png?auto=format&dpr=1&w=1000" alt="">
	  <img class="myimg" src="https://i.seadn.io/gcs/files/4c3cbf11bfa12f7fdcd526684d6ed087.png?auto=format&dpr=1&w=1000" alt="">

	  <h2 class="subsection-title">Conectar una wallet</h2>
	  <p class="subsection-description">Podrás conectar tu wallet y acceder a todas las características de nuestra DAPP.</p>

	  <h2 class="subsection-title">Mintear NFTs</h2>
	  <p class="subsection-description">Crea y lanza tus propios NFTs únicos en nuestra plataforma.</p>

	  <h2 class="subsection-title">Intercambiar NFTs</h2>
	  <p class="subsection-description">Explora el mercado de NFTs y realiza intercambios con otros usuarios.</p>

	  <h2 class="subsection-title">Observar estadísticas de la wallet</h2>
	  <p class="subsection-description">Accede a estadísticas detalladas sobre tus NFTs, transacciones y más.</p>
	</div>
  </section>
