<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button (click)="mostrarPresentation()" mat-raised-button>
        Presentación
      </button>
      <button (click)="mostrarAnalytics()" mat-raised-button>
        Analytics
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
</mat-drawer-container>