
<div class="container">

    <div class="images">
        <img class="overlay-image" src="{{nft.image}}" alt="Imagen">
    </div>
    
    <div class="nft">
        <div class="data">
            <h2>{{nft.name}}</h2>
            <div class="separator"></div>   
            <h4 >{{nft.name}}</h4>
            <div *ngFor="let atb of nft.atributtes">
                <h5>{{atb.trait_type}} : {{atb.value}}</h5>
            </div>
            <br>
            <div class="separator"></div>
            <h4>Precio:  </h4>
        </div>
        <div class="actionBtn">
            <button>Intercambiar</button>
        </div>
    </div>
    
</div>

