<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="images">
            <img class="background-image" src="https://images.unsplash.com/photo-1621246159024-e53b1d25fc1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="Imagen">
            <img class="overlay-image" src="https://cdn2.excelsior.com.mx/media/styles/image800x600/public/pictures/2023/02/05/2898940.jpg" alt="Imagen">
        </div>
        
        <div class="nft">
            <div class="data">
                <h2>Nombre NFT</h2>
                <div class="separator"></div>
                <h4>Descripcion del dinosaurio</h4>
                <h5>caracteristica : valor</h5>
                <h5>caracteristica : valor</h5>
                <h5>caracteristica : valor</h5>
                <br>
                <div class="separator"></div>
                <h4>Precio:  </h4>
            </div>
            <div class="actionBtn">
                <button>Intercambiar</button>
            </div>
        </div>
        
    </div>
    
</body>
</html>