<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="images">
        <img class="overlay-image" src="{{ nft?.image }}" alt="Imagen" />
      </div>
    </div>
    <div class="col-6">
      <div class="nft">
        <div class="data">
          <h2>{{ nft?.name }}</h2>
          <div class="separator"></div>
          <br>
          <div *ngFor="let atb of nft?.atributtes">
            <h6>{{ atb.trait_type }} : {{ atb.value }}</h6>
          </div>
          <br />
          <div class="separator"></div>
          <h5> {{nft?.description}} </h5>
        </div>
        <div class="actionBtn">
          <button>Intercambiar</button>
        </div>
      </div>
    </div>
  </div>
</div>
