<section class="analytics">
    
        <div class="row">
                <div class="col-5">
                    <app-graph-one></app-graph-one>
                </div>
                <div class="col-5">
                    <app-graph-two></app-graph-two>
                </div>
        </div>
        <div class="row">
            <div class="col-5">
                <app-graph-three></app-graph-three>
            </div>
            <div class="col-5">
                <app-graph-four></app-graph-four>
            </div>

        </div>
    
   
    
    
</section>