<header class="header">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main">Mercado de NFTs 2.0</span>
    </h1>
  </div>
</header>

<section class="introduction" id="introduction">
  <div class="container my-5">
    <h1 class="section-title">Bienvenido a nuestra DAPP</h1>
    <p class="section-description">
      Te damos la bienvenida a un emocionante mundo de activos digitales únicos:
      los NFTs (Tokens No Fungibles). Aquí, podrás explorar una colección única
      de NFTs inspirados en dinosaurios, creados exclusivamente para esta
      plataforma. <br /><br />
      Sumérgete en la historia de los dinosaurios mientras descubres nuestra
      colección de NFTs. Cada NFT representa una criatura única de la era de los
      dinosaurios, capturada en un token digital que puedes poseer y
      coleccionar. Desde feroces tiranosaurios hasta majestuosos diplodocus,
      nuestra colección abarca una amplia variedad de especies fascinantes.
      <br /><br />
      Nuestro proceso de creación de NFTs ha sido meticuloso y detallado. Hemos
      colaborado con talentosos artistas digitales y expertos en blockchain para
      asegurar que cada NFT sea una obra de arte única y auténtica. Cada NFT ha
      sido verificado en la cadena de bloques, lo que garantiza su autenticidad
      y propiedad exclusiva.
      <br /><br />
      Los NFTs son activos digitales revolucionarios que representan la
      propiedad de un elemento digital único. A diferencia de otras formas de
      activos digitales, los NFTs son indivisibles y no intercambiables, lo que
      les confiere un valor especial y los convierte en objetos de deseo para
      coleccionistas y entusiastas.
      <br /><br />
      Además de la emoción de poseer y coleccionar NFTs, también te ofrecemos
      una experiencia interactiva a través de nuestra DAPP (Aplicación
      Descentralizada). Utilizando la tecnología blockchain, nuestra DAPP te
      permite comprar, vender e intercambiar NFTs directamente con otros
      usuarios de manera segura y transparente. Experimenta la emoción de
      participar en un mercado digital descentralizado y sumérgete en la
      comunidad de coleccionistas de NFTs.
      <br /><br />
      Estamos emocionados de compartir contigo esta experiencia única en nuestro
      marketplace de NFTs. Explora nuestra colección, sumérgete en la historia
      de los dinosaurios y únete a la revolución de los NFTs. ¡Bienvenido a
      nuestro mundo de activos digitales únicos y emocionantes posibilidades!
    </p>

    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/ef046b96349c9bfef71f24aa0748aca8.jpg?auto=format&dpr=1&w=1000"
      alt=""
    />
    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/b99ae0057ff1b8d3715866a97cbf4669.png?auto=format&dpr=1&w=1000"
      alt=""
    />
    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/776f145d87f4518a11861d5bb1e41733.png?auto=format&dpr=1&w=1000"
      alt=""
    />
    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/213cbdbd1fe7410df46f2d2753a65afc.png?auto=format&dpr=1&w=1000"
      alt=""
    />
    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/41cf7e8e84cb9c9b065852ee06acd964.png?auto=format&dpr=1&w=1000"
      alt=""
    />
    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/ca32475f8335f1aed1cb2204b90bd703.png?auto=format&dpr=1&w=1000"
      alt=""
    />
    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/fc61d30a777a5fdffb9c4e96bfbb44fe.png?auto=format&dpr=1&w=1000"
      alt=""
    />
    <img
      class="myimg"
      src="https://i.seadn.io/gcs/files/4c3cbf11bfa12f7fdcd526684d6ed087.png?auto=format&dpr=1&w=1000"
      alt=""
    />
    <h1>Conoce nuestras funcionalidades</h1>
    <br /><br />
    <h2 class="subsection-title">Conectar una wallet</h2>
    <p class="subsection-description">
      Para interactuar con la DAPP debes de conectar tu wallet a nuestra DAPP,
      si no tienes una te sugerimos usar
      <a href="https://metamask.io/">Metamask</a> para acceder a todas las
      características y funcionalidades. Es importante tener en cuenta que
      actualmente estamos utilizando la red de prueba de
      <a href="https://www.datawallet.com/crypto/add-polygon-mumbai-to-metamask"
        >Mumbai (Mumbai Testnet)</a
      >
      en nuestra plataforma. Por lo tanto, al conectar tu wallet, asegúrate de
      agregar la red de Mumbai a tu configuración de wallet para poder
      interactuar con nuestra plataforma de manera adecuada.
    </p>

    <h2 class="subsection-title">Mintear NFTs</h2>
    <p class="subsection-description">
      "Mintear" un NFT se refiere al proceso de crear un nuevo token no fungible
      (NFT). Es el acto de tomar un activo digital único y convertirlo en un
      token único y verificable en la cadena de bloques.
      <br /><br />
      El proceso de minteo implica registrar los metadatos del NFT en la cadena
      de bloques. Estos metadatos pueden incluir detalles como el título,
      descripción, imagen, atributos especiales y cualquier otra información
      relevante asociada con el NFT. Al realizar el minteo, se genera un
      identificador único para el NFT en la cadena de bloques, lo que garantiza
      su autenticidad y singularidad.
    </p>

    <h2 class="subsection-title">
      Observar estadísticas sobre la colleccion CryptoDino
    </h2>
    <p class="subsection-description">
      En cuanto a las estadísticas, queremos brindarte información detallada
      sobre tus NFTs y colecciones. A través de nuestra plataforma, podrás
      acceder a estadísticas específicas relacionadas con tus NFTs y la
      colección en la que participas. Estas estadísticas pueden incluir
      información como la cantidad total de NFTs en la colección, el volumen de
      transacciones, la popularidad de ciertos NFTs dentro de la colección,
      entre otros datos relevantes. Esta información te ayudará a comprender
      mejor el rendimiento y la relevancia de tu colección de NFTs en el
      mercado.
    </p>
    <br /><br /><br /><br /><br /><br />
  </div>
</section>
